# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
*.js
*.map
**/*.js.map
**/*.metadata.json
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
tags/
App_Resources/iOS/
dist/
lib/
hooks/
node_modules/
app/**/*.js
app/global.d.tags
tmp/
temp/
platforms/
plugins/
www/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
